.graph {
  background: #eef2f5;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.home_button {
  margin-left: 12px;
  margin-top: 10px;
  width: 120px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 3px solid #1370b3;
  background: rgba(136, 196, 240, 0.67);
  color: #ffffff;
}

.delete_button {
  width: 60px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 3px solid #88c4f0;
  background: #f0f0f0;
  color: #000000;
}
table,
td,
th {
  background-color: #ffffff;
  border: 1px #000 solid;
  border-collapse: collapse;
}
