@charset "UTF-8";

p {
  margin: 0;
  padding: 0;
}

.title {
  padding-left: 63px;
  padding-top: 79px;
  p {
    width: 783px;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.login-title {
  padding-left: 63px;
  display: flex;
  width: 441px;
  gap: 18px;
  flex-shrink: 0;
  .login {
    //color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .line {
    width: 10px;
    height: 50px;
    flex-shrink: 0;
    border-left: 8px solid #000;
    background: #d9d9d9;
  }
}

.input-form {
  position: relative;
  padding-left: 900px;
  input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  }

  span {
    color: rgb(251, 71, 71);
  }

  button {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    background: #81bde8;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 100vh;
    border-color: transparent;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
  }
}

.register {
  position: absolute;
  top: 500px;
  left: 63px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
