@charset "UTF-8";

p {
  margin: 0;
  padding: 0;
}


.title {
  position: absolute;
  top: 655px;
  left: 13px;
  padding-left: 63px;
  display: flex;
  width: 100%;
  gap: 18px;
  flex-shrink: 0;

  .text {
    margin-top: 15px;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .line {
    width: 10px;
    height: 100px;
    flex-shrink: 0;
    border-left: 8px solid #000;
    background: #d9d9d9;
  }
}

.form-text1 {
  position: absolute;
  top: 604px;
  left: 815px;
  width: 400px;
  justify-content: center;
  flex-shrink: 0;
  color: #534F4F;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

.error1{
  position: absolute;
  top: 674px;
  left: 815px;
  width: 545.202;
  height: 57.259px;
  justify-content: center;
  flex-shrink: 0;
  color: #ff0000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-text2 {
  position: absolute;
  top: 750px;
  left: 815px;
  width: 400px;
  justify-content: center;
  flex-shrink: 0;
  color: #534f4f;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error2{
  position: absolute;
  top: 820px;
  left: 815px;
  justify-content: center;
  flex-shrink: 0;
  color: #ff0000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttun{
  position: absolute;
  top: 894px;
  left:1033px;
  width: 183px;
  height: 86px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.change {
  position: absolute;
  top: 808px;
  left: 63px;
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  line-height: normal;
  color: #000;
  font-weight: 700;
}
